@import '../../styles/Home.module';


.btn {
  width: 162px;
  height: 52px;
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $landVilleGroup-primary;
  color: white;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  &:hover {
   background-color: #3A6AE3;
    cursor: pointer;
  }
}

.medium {
  width: 119px;
  height: 40px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;

}