$landVilleGroup-primary: #264EB4;
$lightGrey: #E0E0E0;


.main {
  color: white;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  background: #27282D url("../assets/background.svg") fixed no-repeat center top  ;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif
}
