$landVilleGroup-primary: #264EB4;
$lightGrey: #E0E0E0;


.content {
  position: relative;
  width: 100%;
  z-index: 2;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
  }
}

.disabled {
  overflow-y: hidden;
}



