.logoField {
  width: 260.98px;
  height: 27px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  img {
    max-width: 100%;
    height: auto;
  }
}